 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #808080;">a little about us...</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Established in 1987, Jersey City Chiropractic has been serving the Jersey City community for almost 30 years. Despite our recent name change, our goal has always remained the same – to help people live and function optimally. Our doctors utilize a whole-body approach to find the root cause of multiple health conditions. By combining ancient techniques from Chinese Medicine with evidence-based chiropractic protocols, our treatments are safe, effective, and customized based on each patient. This holistic approach to healthcare is used strengthen your body’s ability to heal naturally.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                  <figure class="figure">
                    <img src="img/dr_dominique_bariso.jpg" class="figure-img img-responsive" alt="Dr. Dominique Bariso, DC, LAc" style="max-height: 450px;">
                    <a style="color: #808080;" href="/drbariso">
                      <figcaption class="figure-caption text-xs-center" style="text-align: center; font-size: x-large;">Dr. Dominique Bariso, DC, LAc</figcaption>
                    </a>
                  </figure>
                </div>
                <div class="col-xs-4">
                  <figure class="figure">
                    <img src="img/dr_maria_crincoli.jpg" class="figure-img img-responsive" alt="Dr. Maria Crincoli, DC" style="max-height: 450px;">
                    <a style="color: #808080;" href="/drcrincoli">
                      <figcaption class="figure-caption text-xs-center" style="text-align: center; font-size: x-large;">Dr. Maria Crincoli, DC</figcaption>
                    </a>
                  </figure>
                </div>
            </div>
        </div>
    </section>
