 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #808080;">Welcome to Jersey City Chiropractic & Acupuncture</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p style="text-align: center;">Established in 1987, Jersey City Chiropractic has been serving the Jersey City community for almost 30 years. Despite our recent name change, our goal has always remained the same – to help people live and function optimally. Our doctors utilize a whole-body approach to find the root cause of multiple health conditions. By combining ancient techniques with evidence-based protocols, our treatments are safe, effective, and customized for each patient. This holistic approach to healthcare is used to strengthen your body’s ability to heal naturally.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                  <img src="img/photos/129_jc_chiropractic_small.jpg" class="img-responsive" alt="cupping" style="max-height: 450px;">
                </div>
                <div class="col-xs-4">
                  <img src="img/photos/143_jc_chiropractic_small.jpg" class="img-responsive" alt="acupuncture" style="max-height: 450px;">
                </div>
                <div class="col-xs-4">
                  <img src="img/photos/073_jc_chiropractic_small.jpg" class="img-responsive" alt="chiropractic care" style="max-height: 450px;">
                </div>
            </div>
        </div>
    </section>
