 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #808080;">a little about us...</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Our mission is simple. We want to get (and keep) you out of pain, get you back to doing what you love, and most importantly get the Jersey City community healthy! By combining Eastern and Western medicine, our doctors use a whole-body approach to find the root cause of illness and strengthen your body’s ability to heal naturally.</p>
                </div>
                <div class="col-lg-12">
                    <p>Established in 1987, Jersey City Chiropractic has been serving the Jersey City community for almost 30 years. This year, our office is undergoing major changes. In addition to changing our name, we are also: updating our facility, getting more involved in our community, and connecting with others through social media.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                  <figure class="figure">
                    <img src="img/dr_dominique_bariso.jpg" class="figure-img img-responsive" alt="Dr. Dominique Bariso, DC, LAc" style="max-height: 450px;">
                    <a style="color: #808080;" href="/drbariso">
                      <figcaption class="figure-caption text-xs-center" style="text-align: center; font-size: x-large;">Dr. Dominique Bariso, DC, LAc</figcaption>
                    </a>
                  </figure>
                </div>
                <div class="col-xs-4">
                  <figure class="figure">
                    <img src="img/dr_maria_crincoli.jpg" class="figure-img img-responsive" alt="Dr. Maria Crincoli, DC" style="max-height: 450px;">
                    <a style="color: #808080;" href="/drcrincoli">
                      <figcaption class="figure-caption text-xs-center" style="text-align: center; font-size: x-large;">Dr. Maria Crincoli, DC</figcaption>
                    </a>
                  </figure>
                </div>
            </div>
        </div>
    </section>
