 <!-- About Section -->
    <section class="success" id="doctors" style="background: #b9dfe2;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #808080;">Meet your Doctors</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                  <figure class="figure">
                    <img src="img/dr_dominique_bariso_small.jpg" class="figure-img img-responsive" alt="Dr. Dominique Bariso, DC, LAc" style="max-height: 450px;">
                    <a style="color: #808080;" href="/drbariso">
                      <figcaption class="figure-caption text-xs-center" style="text-align: center; font-size: x-large;">Dr. Dominique Bariso, DC, LAc</figcaption>
                    </a>
                  </figure>
                </div>
                <div class="col-xs-4">
                  <figure class="figure">
                    <img src="img/dr_maria_crincoli_small.jpg" class="figure-img img-responsive" alt="Dr. Maria Crincoli, DC" style="max-height: 450px;">
                    <a style="color: #808080;" href="/drcrincoli">
                      <figcaption class="figure-caption text-xs-center" style="text-align: center; font-size: x-large;">Dr. Maria Crincoli, DC</figcaption>
                    </a>
                  </figure>
                </div>
            </div>
        </div>
    </section>
