<!-- About Section -->
   <section class="new-patient-info" id="new-patient-info" style="margin-top: 30px; color: #808080;">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2 style="color: #808080;">DR. DOMINIQUE BARISO</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
             <p>
               Dr. Dominique Bariso is both a chiropractor and a licensed acupuncturist. She uses a “whole-body” approach when treating her patients, combining both eastern and western medicine. Dr. Dominique is a firm believer in finding and treating the root cause of the health problem, instead of just treating the symptoms. Her goals are to get you out of pain, keep you out of pain, and get you healthy.
             </p>
             <br>
             <p>
               She received her Bachelor’s degree from New York University. She received both her doctorate and masters degrees from the University of Bridgeport College of Chiropractic and Acupuncture Institute, Summa Cum Laude.
             </p>
             <br>
             <p>
               In 2015, Dr. Dominique was awarded a merit based academic grant to study acupuncture in China. She traveled to Shenyang, China where she worked at a hospital affiliated with the Liaoning University of Traditional Chinese Medicine.
             </p>
             <br>
             <p>
               Dr. Dominique has worked with patients of all ages from 8 to 92. She enjoys treating neck/back pain, women’s issues, infertility, headaches, and anxiety. Her treatments consist of a combination of acupuncture, cupping, gua-sha, tui-na massage, chiropractic manipulation/mobilization, muscle therapy, therapeutic exercises, dietary advice, and lifestyle recommendations.
             </p>
             <br>
           </div>
       </div>
   </section>
