<!-- About Section -->
   <section class="dr-profile" id="dr-profile" style="color: #808080;">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2 style="color: #808080;">DR. MARIA CRINCOLI</h2>
                   <hr class="star-light">
               </div>
           </div>
           <div class="row">
             <p>
               Dr. Maria Crincoli is a chiropractic physician who has been in private practice for over 30 years. She attended C.W. Post University for her undergraduate degree and shortly thereafter attended and graduated from New York Chiropractic College. She was the first female chiropractor to be on staff at the Meadowlands Hospital Medical Center in Secaucus, NJ. Dr. Crincoli currently studies the healing art of Medical Qi Gong under Oriental Medicine Doctor Nan Lu and incorporates this into her practice. She enjoys lecturing on wellness care at schools and local organizations. Dr. Crincoli is a long-time supporter and member of the Association of New Jersey Chiropractors.
             </p>
           </div>
       </div>
   </section>
