<!-- About Section -->
   <section class="faq" id="faq" style="color: #888888;">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2 style="color: #888888;">FAQs</h2>
                   <hr class="star-light">
               </div>
           </div>
           <div class="row">
             <p>It is common and completely normal to have questions when it comes to both chiropractic and acupuncture. Below are some frequently asked questions and our responses.</p>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>CHIROPRACTIC QUESTIONS:</strong></span></h3>
<p>&nbsp;</p>
<p><em><strong>What is spinal manipulation?</strong></em></p>
<p>Spinal manipulation, also known as an adjustment, is a procedure performed by a chiropractic physician. It is done by hand on joints in the body, especially the spine, using a gentle controlled motion. Sometimes an instrument may be used to assist the chiropractor. The goal of a spinal manipulation or adjustment is to restore or enhance joint function. It is used to decrease joint inflammation and decrease pain. Most people report relief in their symptoms immediately after treatment. The procedure typically does not cause discomfort. If it is your first time getting spinal manipulation, it is typical to feel sore or achey for around 24 hours after your treatment. This is similar to going to the gym and working out for the first time.</p>
<p>&nbsp;</p>
<p><em><strong>What is that popping sound during spinal manipulation?</strong></em></p>
<p>During a spinal manipulation, also known as an adjustment, you may hear a pop or cracking sound. This sound is the result of gas bubbles being released inside the joint capsule as pressures change. It is similar to the sound you hear when you &#8220;crack&#8221; your knuckles.</p>
<p>&nbsp;</p>
<p><em><strong>Once I start seeing a chiropractor, do I have to be treated for the rest of my life? </strong></em></p>
<p>The majority of patients who see a chiropractor are seeking care for a specific condition. Depending on the type of condition, and whether it is new (acute) or old (chronic), the number of visits required to decrease or completely resolve symptoms varies. Visits may start out 2-3 times a week and taper down to once a week or once a month. How long it takes depends on how fast your body heals and how fast you respond to treatment. If you are not noticing any relief, or change in your symptoms, after around 4-6 weeks, we will not continue care, and we will refer you to another healthcare provider.</p>
<p>There are some patients who see a chiropractor for &#8220;maintenance&#8221; or &#8220;wellness&#8221; care. They may or may not have a specific condition, but seek care to: prevent injuries, improve athletic performance, improve overall health.</p>
<p>&nbsp;</p>
<p><em><strong>Is there research supporting the use of chiropractic care?</strong></em></p>
<p>Yes! Ask your chiropractic physician about research articles for your particular condition. Chiropractic care continues to be shown as safe, effective, and cost-saving. Check out <strong>www.acatoday.org/chiroresearch</strong> for more information about recently published articles.</p>
<p>&nbsp;</p>
<p><em><strong>How does Instrument Assisted Soft Tissue Mobilization work?</strong></em></p>
<p>The use of an IASTM instrument creates a controlled micro trauma in the affected soft tissue structures. This causes a local inflammatory response that then starts to reabsorb inappropriate fibrosis or excessive scar tissue. It stimulates a cascade of healing activities on a cellular level. Proper remodeling of affected soft tissue structures then occurs.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>ACUPUNCTURE AND TRADITIONAL CHINESE MEDICINE QUESTIONS:</strong></span></h3>
<p>&nbsp;</p>
<p><strong><em>Is acupuncture safe?</em></strong></p>
<p>Yes! Our office uses sterile, single-use, disposable needles that are very thin. Our licensed acupuncturist spent years learning point location and anatomy as well as completing a Clean Needle Technique course. Each point is swabbed with alcohol before insertion of needles. We are committed to your safety and take every precaution to ensure a supportive experience.</p>
<p>&nbsp;</p>
<p><strong><em>Is acupuncture painful?</em></strong></p>
<p>Acupuncture needles are thin and solid. This is very different from needles that are used for injections, which are thick, hollow, and have a sharp edge. Most people report feeling minimal pain, or a small temporary pinch, when the needle is inserted. The needle is then inserted to a point that produces a heavy sensation or ache, this is known as <em>Duqi, </em>and is a positive sign. Once the needles are in place, most people report not feeling them at all, and tend to feel relaxed enough to fall asleep.</p>
<p>&nbsp;</p>
<p><em><strong>What is acupuncture used for?</strong></em></p>
<p>According to the World Health Organization (WHO), acupuncture is effective for treating 28 conditions. In addition there is evidence indicating it may have an effective therapeutic value for over 50 more conditions. Here are the 28 conditions that have been researched:</p>
<ul>
<li>Adverse reactions to radiotherapy and/or chemotherapy</li>
<li class="p1">Allergic rhinitis (including hay fever)</li>
<li class="p1">Biliary colic</li>
<li class="p1">Depression (including depressive neurosis and depression following stroke)</li>
<li class="p1">Dysentery, acute bacillary</li>
<li class="p1">Dysmenorrhoea, primary</li>
<li class="p1">Epigastralgia, acute (in peptic ulcer, acute and chronic gastritis, and gastrospasm)</li>
<li class="p1">Facial pain (including craniomandibular disorders)</li>
<li class="p1"><span class="s1">Headache</span></li>
<li class="p1">Hypertension, essential</li>
<li class="p1">Hypotension, primary</li>
<li class="p1">Induction of labour</li>
<li class="p1">Knee pain</li>
<li class="p1">Leukopenia</li>
<li class="p1">Low back pain</li>
<li class="p1">Malposition of fetus, correction of</li>
<li class="p1">Morning sickness</li>
<li class="p1">Nausea and vomiting</li>
<li class="p1">Neck pain</li>
<li class="p1">Pain in dentistry (including dental pain and temporomandibular dysfunction)</li>
<li class="p1">Periarthritis of shoulder</li>
<li class="p1">Postoperative pain</li>
<li class="p1">Renal colic</li>
<li class="p1">Rheumatoid arthritis</li>
<li class="p1">Sciatica</li>
<li class="p1">Sprain</li>
<li class="p1">Stroke</li>
<li class="p1">Tennis elbow</li>
</ul>
<p>&nbsp;</p>
<p><em><strong>How should I prepare for my acupuncture treatment?</strong></em></p>
<p>Try to wear loose, comfortable clothing so your acupuncturist has easy access to certain acupuncture points. Commonly used points are on the lower legs below the knees and on the forearm below the elbows, so try to wear pants and shirts that can be rolled up comfortably. Avoid eating large meals directly before or after your visit. Avoid not eating at all before your visit. Being hungry, tired, or stressed can make the body more sensitive to acupuncture treatment.</p>
<p>&nbsp;</p>
<p><em><strong>Will acupuncture help with my chronic pain?</strong></em></p>
<p>Yes.  One of the largest studies on acupuncture and chronic pain, a meta-analysis of 29  studies involving nearly 18,000 patients, was published in October of 2012 in the <a href="http://archinte.jamanetwork.com/article.aspx?articleid=1357513" style="color: #23d3e0;">Archives of Internal Medicine</a>. Researchers found that acupuncture is effective for treating chronic pain, stating that &#8220;[s]ignificant differences between true and sham acupuncture indicate that acupuncture is more than a placebo.&#8221;</p>
           </div>
       </div>
   </section>
