    <!-- Header -->
    <header class ="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if main_page == true %}
                      <a href="#">
                    {% else %}
                      <a href="/">
                    {% endif %}
                        <img class="img-responsive" style="border-radius: 8%;max-height: 150px;" src="/img/logo.jpg" alt="">
                      </a>
                    <!-- <hr class="star-light"> -->
                    <div class="intro-text">
                        <!-- <span class="name">{{ site.title }}</span> -->
                        <!-- <span class="skills">{{ site.skills }}</span> -->
                        <div class="" id="bs-example-navbar-1">
                            <ul class="nav navbar-nav" style="text-align: center;display: inline-block;float: none;vertical-align: top;">
                                <li class="hidden">
                                    <a style="color: #808080;  font-size: 125%; text-transform: uppercase;" href="#page-top"></a>
                                </li>
                                <li class="page-scroll">
                                    {% if main_page == true %}
                                      <a style="color: #808080;  font-size: 125%; text-transform: uppercase;" href="#about">About</a>
                                    {% else %}
                                      <a style="color: #808080;  font-size: 125%; text-transform: uppercase;" href="/#about">About</a>
                                    {% endif %}
                                </li>
                                <li class="page-scroll">
                                    <a style="color: #808080;  font-size: 125%; text-transform: uppercase;" href="/services">Services</a>

                                </li>
                                <li class="page-scroll">
                                    <a style="color: #808080;  font-size: 125%; text-transform: uppercase;" href="/new-patient-info">New Patient Info</a>
                                </li>
                                <li class="page-scroll">
                                    <a style="color: #808080;  font-size: 125%; text-transform: uppercase;" href="/faq">FAQ</a>
                                </li>
                                <li class="page-scroll">
                                    {% if main_page == true %}
                                      <a style="color: #808080;  font-size: 125%; text-transform: uppercase;" href="#contact">Contact</a>
                                    {% else %}
                                      <a style="color: #808080;  font-size: 125%; text-transform: uppercase;" href="/#contact">Contact</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
