<!-- About Section -->
   <section class="new-patient-info" id="new-patient-info" style="color: #888888;">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2 style="color: #888888;">NEW PATIENT INFO</h2>
                   <hr class="star-light">
               </div>
           </div>
           <div class="row">
             <h3>What to expect on your first visit:</h3>
             <p>Be prepared to spend 10-15 minutes filling out paperwork. You can always download the paperwork at home, print it, and bring it with you to your first visit. You will need to bring your insurance card with you if you are seeking chiropractic care. Typically your first visit will take around one hour after you complete your paperwork.</p>
<p>After completing all paperwork, your doctor will spend one-on-one time with you to discuss the forms that you filled out. You will be asked multiple questions regarding your condition as well as your general health and medical history.</p>

<p>Next, your doctor will perform an exam by walking you through a series of tests. Based on the results from these tests, your doctor will clearly identify the types of tissues (muscles, ligaments, bone, disc, organs) that are involved and diagnose your condition. Some tests may increase your pain temporarily, however they will help your doctor understand what is causing your pain.  If you are seeking acupuncture, your acupuncturist will examine your tongue and take your pulse. Depending on your condition, other diagnostic tests may be necessary, for example x-rays, MRIs, or laboratory tests including blood work.</p>

<p>After your exam, your doctor will go over all of the results from the exam. If chiropractic or acupuncture are appropriate for your condition, they will discuss treatment and goals for care. Lastly, depending on time, you will receive your first chiropractic or acupuncture treatment.</p>

<h3>Forms:</h3>

<p>If you are seeking chiropractic care, please fill out the <b>New Chiropractic Patient Form</b> below. If you are seeking acupuncture, please fill out the New Patient Acupuncture Form below. All new patients also need to fill out our <b>Notice of Privacy Practices</b> form below. If you have any questions, feel free to call our office for assistance.</p>
  <ul>
    <li><a href="/downloads/NEW-CHIROPRACTIC-PATIENT-FORM.pdf" style="color: #BBBBBB;">NEW CHIROPRACTIC PATIENT FORM</a></li>
    <li><a href="/downloads/NEW-ACUPUNCTURE-PATIENT-FORM.pdf" style="color: #BBBBBB;">NEW ACUPUNCTURE PATIENT FORM</a></li>
    <li><a href="/downloads/NOTICE-OF-PRIVACY-PRACTICES.pdf" style="color: #BBBBBB;">NOTICE OF PRIVACY PRACTICES</a></li>
  </ul>
           </div>
       </div>
   </section>
