<!-- About Section -->
   <section class="new-patient-info" id="new-patient-info" style="color: #888888;">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2 style="color: #888888;">NEW PATIENT INFO</h2>
                   <hr class="star-light">
               </div>
           </div>
           <div class="row">
             <h3>What to expect on your first visit:</h3>
             <ol>
               <li>
                  PAPERWORK
                  <ul>
                    <li>Be prepared to spend 10-15 minutes filling out paperwork. You can always download the paperwork at home, print it, and bring it with you to your first visit.</li>
                    <li>Please bring your insurance card and a photo ID with you to your first visit.</li>
                    <li>Your first visit typically last one hour after completing your paperwork.</li>
                  </ul>
               </li>
               <li>
                  DISCUSSION
                  <ul>
                    <li>After completing all paperwork, your doctor will spend one-on-one time with you to discuss all  of the forms that you filled out.</li>
                    <li>You will be asked multiple questions regarding your condition as well as your general health and medical history.</li>
                    <li>If you are getting acupuncture, Dr. Dominique will look at your tongue and take your pulse.</li>
                  </ul>
               </li>
               <li>
                  EXAM
                  <ul>
                    <li>Your doctor will then perform an exam by walking you through a series of tests. </li>
                    <li>Based on the results from these tests, your doctor will clearly identify the types of tissues (muscles, ligaments, bone, disc, organs) that are involved and diagnose your condition.</li>
                    <li>Some tests may increase your pain temporarily, however they will help your doctor understand what is causing your pain.</li>
                    <li>Depending on your condition, other diagnostic tests may be necessary, for example x-rays, MRIs, or laboratory tests including blood work.</li>
                  </ul>
               </li>
               <li>
                  REVIEW
                  <ul>
                    <li>After your exam, your doctor will go over all of the results from the exam.</li>
                    <li>If chiropractic or acupuncture are appropriate for your condition, your doctor will discuss a recommended treatment plan and goals for care.</li>
                  </ul>
               </li>
               <li>
                  TREATMENT
                  <ul>
                    <li>Lastly, depending on time, you will receive your first chiropractic or acupuncture treatment.</li>
                  </ul>
               </li>
             </ol>
<h3>Forms:</h3>

  <p>ALL NEW PATIENTS MUST FILL OUT THE <strong>Notice of Privacy Practices Form</strong> BELOW.
  <br>If you are seeking chiropractic care, please fill out the <strong>New Chiropractic Patient Form</strong> below.
  <br>If you are seeking acupuncture, please fill out the <strong>New Patient Acupuncture Form</strong> below.</p>
  <ul>
    <li><a href="/downloads/NEW-CHIROPRACTIC-PATIENT-FORM.pdf" style="color: #BBBBBB;">NEW CHIROPRACTIC PATIENT FORM</a></li>
    <li><a href="/downloads/NEW-ACUPUNCTURE-PATIENT-FORM.pdf" style="color: #BBBBBB;">NEW ACUPUNCTURE PATIENT FORM</a></li>
    <li><a href="/downloads/NOTICE-OF-PRIVACY-PRACTICES.pdf" style="color: #BBBBBB;">NOTICE OF PRIVACY PRACTICES</a></li>
  </ul>
  <p>If you have any questions, feel free to call our office for assistance.</p>
           </div>
       </div>
   </section>
