
    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-xs-4 portfolio-item">
                      {% if post.direct %}
                        <a href="/faq" class="portfolio-link" data-toggle="modal">
                      {% else %}
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                      {% endif %}
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive portfolio-img" style =" margin: 0 auto;"alt="{{ post.alt }}">

                        </a>
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <h1 class="services-caption">{{ post.caption }}</h1>
                      </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
